LOCAL_FRONTEND_PORT=3000
LOCAL_EXPRESS_PORT=3001
LOCAL_USER_EMAIL="your@email.com"
HOSTNAME="localhost"
API_ENDPOINT="http://localhost:3001/"
S3_ENDPOINT="http://localhost:9090"
DYNAMO_DB_ENDPOINT="http://localhost:8000"
AWS_REGION="us-east-1"
AWS_ACCESS_ID="dummy"
AWS_ACCESS_SECRET="dummy"
MEDIA_SIZE_MB_LIMIT=100
APP_NAME="boilerplate"
STAGE="dev"